{% include "search/index.html" %}

<style>
    .contain{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px 10% 10px 10%;
        width: 100%;
    }

    .card{
        width: 300px;
        margin-bottom: 50px;

    }
</style>
<form action="/search/get_players" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<div class="contain">
    {% for player in players %}
        <div class="card">
            <div class="card-header">
                <h3>
                    {{player.name}}
                </h3>
            </div>
            <div class="card-body">
                <p>Level : {{ player.level }}</p>
                <p>Classe : {{ player.DofusClasse }}</p>
                <p>Gameplay : {{ player.pvpm }}</p>
                <p>DBook : {{ player.dbook }}</p>
                <p>Serveur : {{ player.server }}</p>
                <hr>
                <p>{{ player.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>