<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/style.css" />
<link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto&display=swap" rel="stylesheet"> 
<script>
    $( document ).ready(function() {
        if (window.location.href.includes('home')){
            $('#home').addClass('active-link')
        }
        else if (window.location.href.includes('search')){
            $('#search').addClass('active-link')
        }
        else if (window.location.href.includes('create')){
            $('#create').addClass('active-link')
        }
        });
</script>
<div class="navbar_container">
    <div class="logo_container">
        <a href="/home"><img class="logo" src="../../static/logo.webp" alt="LOGO"></a>
    </div>
    <div class="navbar-container">
        <ul>
            <li id="home" class="nav-link">
                <a href="/home">Home</a>
                <div class="underline"></div>
            </li>
            <li id="search" class="nav-link">
                <a href="/search">Recherche</a>
                <div class="underline"></div>
            </li>
            <li id="create" class="nav-link">
                <a href="/create">Ajouter</a>
                <div class="underline"></div>
            </li>
        </ul>
    </div>
{% if user.is_authenticated %}
    <div class="dropdown">
        <button class="dropbtn"><a href="/login/log_out"><i class="fa fa-user" aria-hidden="true"></i></a></button>
        <div class="dropdown-content">
        <a href="/profil">Profil</a>
        <a href="/login/log_out">Déconnection</a>
        </div>
    </div>
{% else %}
    <div class="login_container">
        <a class="login" href="/login">Se connecter</a>
    </div>
{% endif %}
</div>