{% load static %}


<script>
    
</script>

{% include "components/header.html" %}

<style>
.contain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card{
    width: 40%;
    text-align: center;
}

</style>
<div class="contain">
    <div>test</div>
    <div class="card">
        <div class="card-header">
            <h3>Mise en place de l'alpha</h3>

        </div>
        <div class="card-body">
            <p>
                Pour l'ouverture de l'application quelques fonctions sont disponibles:
            </p>
            <p>
                - Création d'un compte pour ajouter des fiches persos.
            </p>
            <p>
                - Recherche d'autre fiche perso pour trouver des mates.
            </p>
        </div>
    </div>
    <div>test</div>
</div>