{% load static %}


<script>
    
</script>

{% include "components/header.html" %}

<style>
    .contain{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .card{
        width: 40%;
        text-align: center;
        margin-top: 10%;
    }


</style>
<div class="contain">
    <div></div>
    <div class="card">
        <div class="card-header">
            <h3>Mise en place de l'alpha</h3>

        </div>
        <div class="card-body">
            <p>
                Cette version de l'application web est une alpha.
            </p>
            <p>
                - Il est possible que des erreurs apparraissent, nous travaillons au développement de l'application et corrigerons les erreurs au plus vite.
            </p>
            <p>
                - Vous pouvez tous de même utilisez les fonctionnalités de l'application, sachez tous de même que la base de donnée sera réinitialisée à la fin de l'alpha.
            </p>
        </div>
    </div>
    <div></div>
</div>
