{% load static %}


<script>
    
</script>

{% include "components/header.html" %}

<nav class="navbar navbar-expand-lg navbar-light bg-light flex">
    <div class="left">
    </div>
    <div class="center">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/create/players">Joueurs</a>
              <a class="nav-item nav-link" href="/create/guilds">Guildes</a>
              <a class="nav-item nav-link" href="/create/alliances">Alliances</a>
            </div>
          </div>
    </div>
    <div class="right">
  
    </div>
  </nav>